/* CSS Styled by Nathan Saxton*/

/*General Page*/
html {
    font-family:  'Garamond','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    line-height: 1.5;
    background-color: black;
    color: silver;
    text-align: center;
}

section {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

.wrap {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.media-container {
    width: 100%;
    border-radius: 10px;
    position: relative;
}

footer {
    display: block;
}

/*Menu*/
nav {
    margin: 0;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%;
}

.menu-container {
    height: 105px;
    max-height: 340px;
    margin: 0% auto;
    width: 100%;
    position: fixed;
    z-index: 100;
    padding: 0;
}

.nav-menu {
    color: rgba(62, 180, 137, 1);
    font: bold 12px/18px sans-serif;
    display: inline;
    margin: 0 auto;
    list-style: none;
    text-decoration: none;
    width: 100%;
    padding: 1px 0px;
}

.nav-menu::after {
    clear: both;
    display: table;
    content: " ";
}

.nav-menu li{
    color: rgba(62, 180, 137, 1);
    display: inline-block;
    position: relative;
    background-color: silver;
    cursor: pointer;
    padding: 20px 4%;
    border: solid 1px rgba(0, 0, 0, .7);
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .3);
    font-size: 2vw;
    margin: 0 auto;
}

/*Home-Banner*/

#home .wrap {
    padding-top: 70px;
}

.media-container video {
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    padding: 0;
}

.banner-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    float: none;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 8vw;
    color: goldenrod;
}

.banner-overlay p {
    font-size: 2vw;
    width: 50%;
    padding: 1% 25%;
}

/*Rows and Columns*/

.row {
    position: relative;
    height: 100%;
}
.col {
    float: left;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

h2 {
    font-size: 6vw;
    color: rgba(62, 180, 137, 1);
}

p {
    font-size: 2vw;
    width: 90%;
    padding: 0 5%;
}

.text-box {
    text-align: center;
}
/*Video and Image*/

img {
    width: 100%;
    height: 480px;
    z-index: =200;
}

video {
    width: 100%;
    height: 100%;
    filter: grayscale();
}

/*Animations*/

.nav-menu li {
    transition-property: background;
    transition-duration: .3s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
}

.nav-menu li:hover {
    background-color: rgba(62, 180, 137, .7);
    color: rgb(192, 192, 192);
}

/*Adaptable screen*/

@media screen and (max-width:600px){
    .nav {
        bottom: 0;
        padding: 0;
    }

    .menu-container {
        padding: 0;
        left: 0;
        margin: 0;
    }

    .nav-menu {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        text-align: left;
    }

    .nav-menu li{
        position: relative;
        display: inline-block;
        width: 20%;
        margin: 0;
        font-size: 3vw;
        padding: 10px 0px;
        text-align: center;
    }
    
    .media-container {
        height: 107vw;
    }

    #home .wrap {
        padding: 0;
    }

    .col {
        width: 100%;
    }

    .banner-overlay h1 {
        padding: 35% 5% 8% 5%;
    }

    .banner-overlay p {
        font-size: 4vw;
        width: 80%;
        padding: 1% 10%;
    }

    h2 {
        margin-top: 0;
    }
}